<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88314986807-du3mjh4a8b8b556od8s681ii4bp1fnbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88314986807-du3mjh4a8b8b556od8s681ii4bp1fnbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBHIFV-iZxR4bzt1Q-WU7hGMcNrKN9Ou8M</string>
	<key>GCM_SENDER_ID</key>
	<string>88314986807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tbbl.onefit</string>
	<key>PROJECT_ID</key>
	<string>haters-f9398</string>
	<key>STORAGE_BUCKET</key>
	<string>haters-f9398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88314986807:ios:d01e9f2b83473bbd7f9ab2</string>
	<key>DATABASE_URL</key>
	<string>https://haters-f9398.firebaseio.com</string>
</dict>
</plist>